Repository NordicSemiconductor/pc-nrfconnect-launcher, pull requests merged in 2024-04, with the labels that each got.

#998 doc: update app table and workflow names
  .github/workflows/zoomin-publish-dev.yml
  .github/workflows/zoomin-publish.yml
  doc/docs/index.md
Labels: documentation, doc required

#1000 Add `ui not required` label on renovate PRs
  .github/renovate.json
Labels: doc not required, ui not required

#1002 Feat/split nrfutil sandboxes m1 intel
  build/bundleApps.js
  package-lock.json
  package.json
Labels: doc not required, ui not required

#1005 doc: remove LTE LM and Trace Collector
  doc/docs/index.md
Labels: documentation, doc required

#1004 Feat: remove devicelib js bindings and add warning
  Changelog.md
  package-lock.json
  package.json
  src/app/module-loader.js
  src/launcher/util/appCompatibilityWarning.ts
  src/launcher/util/minimalRequiredAppVersions.ts
Labels: documentation, ui required

#995 Fix: pass proxy setting to nrfutil cli and apps
  Changelog.md
  src/ipc/proxyLogin.ts
  src/launcher/features/proxyLogin/ProxyErrorDialog.test.tsx
  src/launcher/features/proxyLogin/ProxyLoginDialog.test.tsx
  src/launcher/features/proxyLogin/ProxyLoginDialog.tsx
  src/launcher/features/proxyLogin/__snapshots__/ProxyLoginDialog.test.tsx.snap
  src/launcher/features/proxyLogin/proxyLoginSlice.test.ts
  src/launcher/features/proxyLogin/proxyLoginSlice.ts
  src/main/index.ts
  src/main/initNrfUtilProxyEnv.ts
  src/main/proxyLogins.ts
Labels: doc required, ui required
